.metadata/.mylyn/tasks.xml.zip.orig
.metadata/.plugins/org.eclipse.core.resources/.projects/Playground/org.eclipse.jdt.core/state.dat.BACKUP.26605.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/Playground/org.eclipse.jdt.core/state.dat.BASE.26605.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/Playground/org.eclipse.jdt.core/state.dat.LOCAL.26605.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/Playground/org.eclipse.jdt.core/state.dat.REMOTE.26605.dat
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources.orig
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi.orig
.metadata/.plugins/org.eclipse.jdt.core/237775123.index.BACKUP.26749.index
.metadata/.plugins/org.eclipse.jdt.core/237775123.index.BASE.26749.index
.metadata/.plugins/org.eclipse.jdt.core/237775123.index.LOCAL.26749.index
.metadata/.plugins/org.eclipse.jdt.core/237775123.index.REMOTE.26749.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt.BACKUP.26811.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt.BASE.26811.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt.LOCAL.26811.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt.REMOTE.26811.txt
.metadata/.plugins/org.eclipse.team.ui/syncParticipants.xml.orig
